.sectionWrapper {
  @apply pt-[11rem] pb-[10.3rem] bg-[#0A265F] overflow-hidden;
}

.sectionContainer {
  @apply container grid items-center justify-items-center lg:justify-items-end grid-cols-1;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 60% 40%;
  }
}

.codeSectionWrapper {
  @apply relative ;
}

.codeWrapper {
  @apply  w-[233.04px] h-[222.09px] md:w-[30.1rem] md:translate-x-[-10%] lg:translate-x-[-50%] md:h-[28.674rem] rounded-3xl py-[.683rem] overflow-hidden md:absolute z-[2] md:translate-y-[-2%] relative;

  background: linear-gradient(126.43deg, #4E4E4E 0%, rgba(78, 78, 78, 0.99) 100%);
  box-shadow: 0 0 0 .22187rem rgba(0, 0, 0, 0.05), 0 0 0 .110935rem rgba(255, 255, 255, 0.1), inset 0rem 0.0554676rem 0 rgba(255, 255, 255, 0.5);
}
.codeHeader {
  @apply pl-[3.051rem] md:pl-[2.051rem] pr-[2.051rem] md:pr-[1rem] h-[4.775rem] md:h-[2.775rem] gap-[2.051rem] border-b-[.2rem] border-[#ffffff15] text-arkiterWhite-100 text-[2.28225rem] md:text-[1.28225rem] font-medium grid ;

  grid-template-columns: 1fr 4fr;
}
.tab1 {
  @apply flex items-center w-max relative;

  &::before {
    content: "";

    @apply absolute bottom-[-0.7rem] left-0 w-full h-2 opacity-10 ;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
  }
}
.tab2 {
  @apply flex items-center ;

  background: linear-gradient(90deg, rgba(255, 255, 255, 0.075) 0%, rgba(0, 0, 0, 0) 100%);
  border-width: .106854rem .106854rem 0 .106854rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.176);
  border-radius: 1.0258rem 1.0258rem 0 0;
}
.codeBody {

  @apply py-[2.372rem] px-[2.1rem]  text-[2.6rem] md:text-[1.6rem] flex leading-[3.4rem] md:leading-[1.85rem] font-normal;

}
.codeTitle {
  @apply mr-2 flex-shrink-0 ;
  color: rgba(88, 250, 210, 1);
}
.codeDescription {
  @apply text-arkiterWhite-100  ;
}

// code image styles
.codeImageWrapper {
  @apply absolute z-0 bottom-0 right-0 translate-x-[18%] md:translate-x-[0%] md:top-0 translate-y-[17%] h-[136px] md:h-[33.952rem] max-w-[53.425rem] md:relative;
}