.sectionWrapper {
  @apply py-20 bg-[#0A265F] overflow-hidden;
}

.sectionContainer {
  @apply container grid items-center justify-items-center lg:justify-items-end grid-cols-1;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 60% 40%;
  }
}

.codeSectionWrapper {
  @apply relative ;
}

.codeWrapper {
  @apply w-72 h-72 rounded-3xl py-2 overflow-hidden absolute z-[2] translate-x-[-50%] translate-y-[-2%];

  background: linear-gradient(126.43deg, #4E4E4E 0%, rgba(78, 78, 78, 0.99) 100%);
  box-shadow: 0px 0px 0px 2.2187px rgba(0, 0, 0, 0.05), 0px 0px 0px 1.10935px rgba(255, 255, 255, 0.1), inset 0px 0.554676px 0px rgba(255, 255, 255, 0.5);
}
.codeHeader {
  @apply px-3 h-8 border-b-[2px] border-[#ffffff15] gap-3 text-arkiterWhite-100 text-[12.8225px] font-medium grid ;

  grid-template-columns: 1fr 3fr;
}
.tab1 {
  @apply flex items-center w-max relative;

  &::before {
    content: "";

    @apply absolute bottom-[-10px] left-0 w-full h-2 opacity-10 ;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);
  }
}
.tab2 {
  @apply flex items-center ;

  background: linear-gradient(90deg, rgba(255, 255, 255, 0.075) 0%, rgba(0, 0, 0, 0) 100%);
  border-width: 1.06854px 1.06854px 0px 1.06854px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.176);
  border-radius: 10.258px 10.258px 0px 0px;
}
.codeBody {

  @apply p-3 font-normal text-[16px] flex leading-5;

}
.codeTitle {
  @apply mr-2 flex-shrink-0 ;
  color: rgba(88, 250, 210, 1);
}
.codeDescription {
  @apply text-arkiterWhite-100  ;
}

// code image styles
.codeImageWrapper {
  position: relative;
  top: 0;
  max-width: 534.25px;
  height: 339.52px;
  z-index: 0;
  transform: translateY(7%);
  // height: 270px;

}