.backWrapper1 {
  @apply hidden md:block;
  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4vh;
  z-index: 2;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}
.backWrapper2 {
  @apply hidden md:block;

  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  top: 0;
  left: 0;
  width: 12vw;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}
.backWrapper3 {
  @apply hidden md:block;

  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  top: 0;
  right: 0;
  width: 12vw;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}
.backWrapper4 {
  @apply hidden md:block;

  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  z-index: 2;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}

.backWrapperMobile {
  @apply block md:hidden ;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 0 0;
  background-size: 940px;
  background-repeat: repeat-y;
  background-image: url('../Assets/HEXUP-mobile.png');
}

.backLineAnimate {
  @apply top-[46rem] md:top-[18.1rem];
  position: relative;
  z-index: 1;
  animation: lineAnimate 2.7s ease-in-out infinite;
}

.lineHorizontal {
  @apply md:hidden ;
  position: absolute;
  width: 100%;
  top: 56rem;
  left: 0;
  animation: lineAnimate 3.5s ease-in-out infinite;

  .lineHorizontal1 {
    position: absolute;
    background: linear-gradient(270deg, rgba(73, 204, 249, 0) 3.75%, #49CCF9 45.9%, rgba(73, 204, 249, 0) 98.58%);
    height: 2px;
    width: 100%;
  }
  .lineHorizontal2 {
    position: absolute;
    width: 100%;
    background: linear-gradient(270deg, rgba(73, 204, 249, 0) 27.44%, #49CCF9 45.9%, rgba(73, 204, 249, 0) 69.64%);
    height: 2px;
    filter: blur(4.5px);
  }
  .lineHorizontal3 {
    position: absolute;
    width: 100%;
    background: linear-gradient(270deg, rgba(73, 204, 249, 0) 3.75%, #49CCF9 45.9%, rgba(73, 204, 249, 0) 98.58%);
    height: 2px;
    filter: blur(4.5px);
  }
  .lineHorizontal4 {
    position: absolute;
    width: 100%;
    background: linear-gradient(270deg, rgba(73, 204, 249, 0) 24.77%, #49CCF9 45.9%, rgba(73, 204, 249, 0) 71.55%);
    height: 2px;
    filter: blur(4.5px);
  }
}

@keyframes lineAnimate {
  0% {
    transform: translateX(-100%);
  }
  50% {

  }
  100% {
    transform: translateX(100%);
  }
}