.backWrapper1 {
  @apply hidden md:block;
  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}
.backWrapper2 {
  @apply hidden md:block;

  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  top: 0;
  left: 0;
  width: 7vw;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}
.backWrapper3 {
  @apply hidden md:block;

  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  top: 0;
  right: 0;
  width: 7vw;
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}
.backWrapper4 {
  @apply hidden md:block;

  background: linear-gradient(90deg, #0A265F 143.16%, rgba(10, 38, 95, 0) 93.19%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1;
  -webkit-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  -moz-box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
  box-shadow: 0 0 10rem 5rem rgba(10,38,95,1);
}

.backWrapperMobile {
  @apply block md:hidden ;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 0 0;
  background-size: 940px;
  background-repeat: repeat-y;
  background-image: url('../Assets/HEXUP-mobile.png');
}