.privacyPolicyWrapper {
  // background-image: url("../../Assets/privacy/background-1.webp"), url("../../Assets/privacy/background-2.webp");position: relative;
  background: #0A265F;
  // background-repeat: no-repeat;
  // background-position: 50% 0, 50% 100%;
  padding-bottom: 60px;

  h1 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 3.4rem;
    padding-top: 15px;
    color: #fff;
    padding-bottom: 15px;
    &:first-child {
    color: #fff;
      font-weight: 600;
      font-size: 2.2em;
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  p {
    line-height: 1.8;
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
  }

  strong {
    font-size: 3rem;
    line-height: 2;
    color: #fff;
  }

  h2 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 3.4rem;
    color: #fff;

    padding-top: 15px;
    padding-bottom: 22.80px;
  }

  ol {
    margin-top: 20px;
    padding-bottom: 27px;
    margin-left: 30px;
    li {
      font-size: 3rem;
      color: #FFF;
      &:not(:first-child) {
        margin-top: 17px;
      }
    }
  }

  a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
  }
}