@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/mixin/index.scss';

@layer base {
  html {
    font-family: "SFProRegular", system-ui, sans-serif;
    src: url('../public/fonts/SFProDisplayRegular.otf') format(".otf")
  }
}

html {
  font-size: 62.5%;

  // @include respond(big-screen) {
  //   font-size: 100%
  // }
  @include respond(screen) {
		font-size: 43%;
	}
	@include respond(tab-land) {
		font-size: 39%;
	}
	@include respond(tab-port) {
		font-size: 35%;
	}
	@include respond(phone) {
		font-size: 29%;
	}
  // @include respond(small-phone) {
  //   font-size: 25%
  // }

  @media (-webkit-device-pixel-ratio: 1.25) {

  }

  @media (-webkit-device-pixel-ratio: 1) {

  }
}

body {
  margin: 0;
  padding: 0;
}

// @media (-webkit-device-pixel-ratio: 1) {
//   * {
//     // zoom: 0.955;
//   }
// }

// @media (-webkit-device-pixel-ratio: 1.25) {
//   * {
//     // zoom: 0.94;
//   }
// }

// .container {
//   max-width: 1200px;
//   margin: 0px auto;
//   padding: 0 15px;

//   @media (-webkit-device-pixel-ratio: 1.25) {
//     @apply max-w-[1200px] ;
//   }
// }