.heroLineAnimationWrapper {
}

.animateLine {
  transform: translateX(-100%);
  animation: lineAnimate 4.5s ease-in-out infinite;
}

.animateVertical {
  transform: translateY(-100%);
  animation: animeteVerticalLine 4.5s ease-in-out infinite;
}

@keyframes animeteVerticalLine {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes lineAnimate {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}